body {
    background-image: url("Webp.net-resizeimage.png");
    background-size: cover;
    
}

.logRegBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 30px;
}
    
.loginBtn { 
    grid-area: 1 / 1 / 2 / 2; 
    margin-left: 10px;
    background-color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
}
.registerBtn { 
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: darkred;
    color: white;
}

.createCharSpot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.createCharBtn { 
    height: 60px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.viewRosterSpot {
    position: fixed;
    bottom: 10px; 
    right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.viewRosterBtn {
    height: 60px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}